
  <!--HEADER ROW-->
  <div id="header-row">
    <div class="container">
      <div class="row">
              <!--LOGO-->
              <div class="span3"><%= image_tag("logos.png" )%> </div>
              <!-- /LOGO -->

            <!-- MAIN NAVIGATION -->  
              <div class="span9">
                <div class="navbar  pull-right">
                  <div class="navbar-inner">
                    <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        
                        <li class="dropdown">
                          <a href="about.html" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                  <li><a href="about.html">Company</a></li>
                                  <li><a href="about.html">History</a></li>
                                  <li><a href="about.html">Team</a></li>
                            </ul>

                        </li>

                        <li><a href="service.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                 
                    </ul>
                  </div>

                  </div>
                </div>
              </div>
            <!-- MAIN NAVIGATION -->  
      </div>
    </div>
  </div>
  <!-- /HEADER ROW -->
    
    
    <div class="container top-buffer">
                <form id="searchFormMovie" class="form-inline">
                    <div class="form-group ui-widget">
                        <label for="searchTerm">Search: </label>
                        <input type="text" style="width: 50%" class="form-control" id="movieInput" >
                        <button  id="sub" class="btn btn-default">Submit</button>
                    </div>
                </form>
        <div class="col-med-12" id="movieInfo">

        </div>
        <div class="row top-buffer">
            <div class="col-med-10 col-med-offset-1" id="sources">   
            </div>
        </div>
    </div>
    <div class="container" id="res">
        
    </div>

